@font-face {
	font-family: 'OpenSans';
	src: local('?'),
		url('fonts/OpenSans-Bold.woff2') format('woff2'),
		url('fonts/OpenSans-Bold.woff') format('woff');
}

.txt {
	font-family: OpenSans;
	font-size: 25px;
}